:root{
--clr_rhy: #01aefe;
--clr_syn: #bf40ff;
--clr_jjb: #f1a922;
--clr_cns: #35c710;
--progCol : var(--clr_rhy);
--baseText: 1rem;
--greyLL: #e7e7e7;
--greyL: #adadad;
--greyD: #7a7a7a;
--blueD: #0077ff;
--blueL: #a3cdfd;
}


.title {
font-size: 3rem;
font-weight: 700;
color: #005c802a;
}

.explainTxt{
  position: relative;
}

.closeX{
  position: absolute;
  color: #8b0000;
  font-size: 1.5rem;
  top: -0.2rem;
  right:0.2rem;
  cursor: pointer;
}

.resBox {
  opacity: 0;
  transition: ease-in-out 0.25s;
}

.grid2 {
border-radius: 1rem;
margin: 0.5rem;
padding: 0.5rem;

display: grid;
grid-template-columns: minmax(100px, auto);
grid-template-rows: repeat(5, 1.5rem);
grid-gap: 1.5rem;
}

a:link {
  color: rgba(133, 133, 133, 0.616);
  text-decoration: none;
}

.topPanel{
  grid-area: h;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.botPanel{
  grid-area: r;

}

.appTalk{
  font-size: 1rem;
  color: var(--greyL);
  margin-bottom: 0;
  padding: 0.7rem;
  width: 80%;

  background-color: var(--greyLL);
  border-radius: 10px;
  /* box-shadow: inset 0px 1px 0px rgba(2, 92, 177, 0.502);*/
}

.topBut{
  color: var(--blueD);
  background-color: var(--blueL);
  width: 10%;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;

  cursor: pointer;
}

.topBut:hover{
  color: var(--blueL);
  background-color: var(--blueD);

  transition: ease 350ms;
}

.progContain{
  height:5px; 
  border: 1px solid var(--greyLL);
  border-radius: 2px;
}

.progInd{
  height:5px; 
  background-color: var(--progCol);
  border-radius: 2px;
}

@keyframes progress {
  from {width: 0;}
  to {width: 100%;}
}

@-webkit-keyframes progress {
  from {width: 0;}
  to {width: 100%;}
}

.relationKey{
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.relationKey > span{
  color: var(--colour);
  border-top: 1px solid var(--colour);
  border-bottom: 1px solid var(--colour);
  margin: 0.3rem;
}

.wordEnd{
    font-size: 1.5rem;
    color: #004b58;
    border-left: 5px solid #004b58;
    border-right: 5px solid #004b58;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
  }
    
.wordMid{
    font-size: 1.2rem;
    color: #907030;
    background-color: var(--greyLL);
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
}
 
.sqar{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 0.7rem;
    } 

.sqar:hover {
  border: 3px solid rgba(36, 36, 36, 0.3);
  transition: 0.3s ease;
  width: 100%;
}
.sqar1{
        background-color: var(--clr_rhy);
        }
.sqar2{
        background-color: var(--clr_syn);
        } 
.sqar3{
        background-color: var(--clr_jjb);
        } 
.sqar4{
        background-color: var(--clr_cns);
        }

.redoBut{
  color: var(--blueD);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.redoBut:hover{
  color: var(--blueL);
}
        
.fetched {
  color: var(--progCol);
  cursor: pointer;
  text-align: center;
  padding-bottom: 0.5rem;

  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
  letter-spacing: 0;
  transition: all 180ms ease-in-out;
}

.fetched:hover,
.fetched:active {
  letter-spacing: 3px;
}

.fetched:after,
.fetched:before {
  border: 1px solid #00000000;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  width: 0;
}

.fetched:hover:after,
.fetched:hover:before {
  border-color: var(--greyLL);
  -webkit-transition: width 180ms ease-in-out;
  transition: width 180ms ease-in-out;
  width: 70%;
}

.fetched:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

@-webkit-keyframes exitRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes exitRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.exitRight {
  -webkit-animation: exitRight 0.6s forwards;
  animation: exitRight 0.6s forwards;

  pointer-events: none;
}    

@-webkit-keyframes exitLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes exitLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.exitLeft {
  -webkit-animation: exitLeft 0.7s forwards;
  animation: exitLeft 0.7s forwards;

  color: #0d6833;
  pointer-events: none;
}

.oops{
  border-radius: 1rem;
  font-size: 5rem;
  font-weight: 700;
  color: var(--greyD);
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  width: 2rem;
  height: 2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #707070;
}


/* Rules coordinated with data variables */


.main[data-level-picked=true] #levelBut, 
.main:not([data-stage='0']) #opts0, 
.main:not([data-stage='1']) #opts1, 
.main:not([data-stage='2']) #opts2, 
.main:not([data-stage='3']) #opts3, 
.main:not([data-picked1=true]) #redo1, .main:not([data-stage='1']) #redo1, 
.main:not([data-picked2=true]) #redo2, .main:not([data-stage='2']) #redo2, 
.main:not([data-picked3=true]) #redo3, .main:not([data-stage='3']) #redo3 {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.5;
}

.main[data-stage='3'] .fetched {
    pointer-events: none;
}

.main[data-fetching=true] .progInd {
    animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
}

.main[data-fetching=false] .progInd {
    width:0; 
}

.main[data-picked1=true] #mid1, .main[data-picked2=true] #mid2, .main[data-picked3=true] #mid3 {
    border-top: 2px solid #907030;
    border-bottom: 2px solid #907030;
    background: #ffffff;
}

.main[data-picked1=false] #mid1, .main[data-picked2=false] #mid2, .main[data-picked3=false] #mid3 {
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.7);
}

.main[data-match-found=true] #targetWord, .fetched[data-matched=true] {
    border: 3px solid #be0000;
    color: #be0000;
    border-radius: 5px;
}

.main[data-no-results=true] .grid2 {
  display: none;
}

.fetched[data-pick=true] {
    -webkit-animation: exitLeft 0.7s forwards;
    animation: exitLeft 0.7s forwards;
    color: #0d6833;
    pointer-events: none;
}

.fetched[data-kick=true] {
    -webkit-animation: exitRight 0.6s forwards;
    animation: exitRight 0.6s forwards;
    pointer-events: none;
}

